@charset "UTF-8";

/* reset */
:root {
    --text-color: #f0f4f5;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tammudu 2';
}

body {
    color: var(--text-color);
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/* header */
header {
    width: 100%;
}

header nav.navbar {
    background-color: #263343;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 수직중앙정렬 */
    padding: 8px 30px;
}

/* logo */
header nav.navbar h1.navbar-logo {
    font-size: 24px;
    color: #fff;
    margin-top: 9px;
}

header nav.navbar h1.navbar-logo i {
    color: #d49466;
}

/* menu - pc,mobile */
header nav.navbar ul.navbar-menu {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

header nav.navbar ul.navbar-menu li a {
    padding: 6px 40px 0 40px;
    display: block;
    font-size: 20px;
}

header nav.navbar ul.navbar-menu li a:hover,
header nav.navbar ul.navbar-menu li a:focus {
    background-color: #d49466;
    border-radius: 50px;
}

/* sns */
header nav.navbar ul.navbar-icons {
    display: flex;
    color: #fff;
}

header nav.navbar ul.navbar-icons a {
    display: flex;
}

header nav.navbar ul.navbar-icons  i {
    padding: 8px 12px;
}
header nav.navbar ul.navbar-icons a:hover i {
    color: #d49466;
}
header nav.navbar ul.navbar-icons a:focus i {
    color: #d49466;
}
/* 토글버튼 가리기 */
header nav.navbar a.navbar-toggleBtn{
    display: none;
}
main iframe {
    width: 100%;
    height: 91vh;
}

@media (max-width:750px) {
    header nav.navbar {
        flex-direction: column;
    }
    header nav.navbar ul.navbar-menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    }
    header nav.navbar ul.navbar-menu li {
        width: 100%;
        text-align: center;

    }
    header nav.navbar ul.navbar-icons {
        display: none;
        width: 100%; 
        justify-content: center;
    }
  /* 토글버튼 */
  header nav.navbar a.navbar-toggleBtn {
    display: block; /* 보기 */
    position: absolute; 
    right: 32px; top: 18px; 
    font-size: 24px;
    color: #d49466;
    z-index:999;
}
    header nav.navbar ul.navbar-menu.active {
        display: flex;
    }
    header nav.navbar ul.navbar-icons.active {
        display: flex;
    }
}